.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
i{
  cursor:pointer;
}
.light-input{
  border: 1px solid #DEE2E6;
}

.dark-input{
  border: 1px solid #495057;
  background-color: #1F1F1F;
  color:white;
}

.light-input::placeholder{
  color: #6C757D;
}

.dark-input,
.dark-input:focus {
  background-color: #1F1F1F;
  color: white;
  border: 1px solid #495057;
  box-shadow: none;
}

.dark-input::placeholder {
  color: #ADB5BD;
}